[*.lua]

indent_style = space
quote_style = single
indent_size = 2
tab_width = 2
max_line_length = 120
call_arg_parentheses = remove_table_only
keep_one_space_between_table_and_bracket = true
enable_check_codestyle = true
enable_name_style_check = false
