# ASDF
export ASDF_DATA_DIR=$HOME/.asdf
export PATH=$ASDF_DATA_DIR/shims:$PATH

# FZF
[ -x "$(command -v fzf)" ] && source <(fzf --zsh)

# Golang
export GOPATH=$HOME/workspaces/go
export PATH=$PATH:$GOPATH/bin

# Rust
[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"

# OCaml
# BEGIN opam configuration
# This is useful if you're using opam as it adds:
#   - the correct directories to the PATH
#   - auto-completion for the opam binary
# This section can be safely removed at any time if needed.
test -r "$HOME/.opam/opam-init/init.zsh" && . "$HOME/.opam/opam-init/init.zsh" > /dev/null 2> /dev/null || true
# END opam configuration

# Haskell
[ -f "$HOME/.ghcup/env" ] && . "$HOME/.ghcup/env" # ghcup-env

{{- if eq .chezmoi.os "darwin" }}

## macOS

export LC_ALL=en_US.UTF-8

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# Java
# For the system Java wrappers to find OpenJDK
sudo ln -sfn /opt/homebrew/opt/openjdk/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk.jdk
export JAVA_HOME=$(/usr/libexec/java_home)

# Google Cloud SDK
source /opt/homebrew/share/google-cloud-sdk/path.zsh.inc
source /opt/homebrew/share/google-cloud-sdk/completion.zsh.inc
{{- end }}
